* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    font-size: .85rem;
    /* width: 100vw; */
}

.logo {
    width: 130px;
    object-fit: cover;
}

.container {
    padding: 15px 80px;
}

.ventify-pink {
    color: #FF385C;
}